<head>
  <link rel="stylesheet" href="/css/generalStyles.css" />
</head>

<div style="text-align: center; color: black; font-family: Arial, sans-serif;">

  <h1 style="border-bottom: 1px solid black; padding: 10px;">Perfil del usuario
    {{first_name}}
    {{last_name}}</h1>
  <div style="text-align: left;">
    <ul>
      <li>Email: {{email}}</li>
      <li>Edad: {{age}}</li>
      <li>Cart: {{cart}}</li>
      <li>Role: {{role}}</li>
    </ul>
  </div>
  <br />
  <form action="/api/sessions/logout" method="POST">
    <button class="submitButton" type="submit">Cerrar sesión</button>
  </form>
  <a href="/api/sessions/current">
    <button class="redirectButton" type="submit">Ver mi cookie</button>
  </a>
</div>